.image {
  width: 95%;
  margin-left: 2.5%;
  /* height: 40rem; */
}

.btn {
  padding: 1rem;
  background-color: green;
  border-radius: 10px;
  color: white;
  border: none;
}

.image-text {
  position: relative;
  bottom: 25rem;
  display: flex;
  justify-content: space-around;
  color: black;
}

.title {
  font-family: 'MedievalSharp', cursive;
}

.description {
  font-family: 'Rajdhani', sans-serif;
}

.events {
  display: flex;
  margin-left: 1rem;
}

.events-hub {
  font-family: 'MedievalSharp', cursive;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.ev {
  background-color: grey;
  padding: 0.5rem;
}

.post-event {
  padding: 1rem;
  border-radius: 10px;
  margin-left: 2rem;
}

