.card {
  background-color: white;
  width: 12rem;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  height: 20rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.card-image {
  width: 12rem;
  height: 8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

img {
  border: 5px, solid, green;
}

.price {
  color: white;
  background-color: green;
  width: 2.5rem;
  padding: 0.3rem;
  padding-left: 0.4rem;
  position: relative;
  bottom: 6rem;
  left: 8.8rem;
}

.card-body {
  position: relative;
  bottom: 4rem;
  display: flex;
  height: 10rem;
}

.date {
  width: 30%;
}

.month {
  position: relative;
  right: 3rem;
}

.day {
  position: relative;
  left: 1rem;
  bottom: 1rem;
}

.description {
  width: 60%;
  margin-left: 10%;
}

.name {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
  /* height: 2rem; */
  position: relative;
  right: 4rem;
  bottom: 2.8rem;
}

.venue {
  position: relative;
  bottom: 3.5rem;
}

.location {
  position: relative;
  bottom: 4rem;
}

/* social media icons */
.socio {
  margin-left: 2rem;
  position: relative;
  bottom: 5rem;
}

.socio i {
  color: green;
  margin: 0.5rem;
}